{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Forgot Password - EventNest</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="login-body">

<a href="{% url 'login' %}" class="back-btn">
  <i class="fa-solid fa-arrow-left"></i> Back
</a>

<div class="login-logo">EventNest 🪶</div>

<div class="login-box">
  <h2>Forgot Password</h2>

  <form method="POST">
    {% csrf_token %}

    <input type="email" name="email" placeholder="Enter registered email" required>

    {% if error %}
      <p style="color:white; margin-bottom:10px;">{{ error }}</p>
    {% endif %}

    <button type="submit">Send OTP</button>
  </form>
</div>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>